<p id="notice"><%= notice %></p>

<h1>Goodreads Lists</h1>

<table>
  <thead>
    <tr>
      <th>Goodreads</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goodreads_lists.each do |goodreads_list| %>
      <tr>
        <td><%= goodreads_list.goodreads_id %></td>
        <td><%= goodreads_list.name %></td>
        <td><%= goodreads_list.description %></td>
        <td><%= link_to 'Show', goodreads_list %></td>
        <td><%= link_to 'Edit', edit_goodreads_list_path(goodreads_list) %></td>
        <td><%= link_to 'Destroy', goodreads_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goodreads List', new_goodreads_list_path %>
