<p id="notice"><%= notice %></p>

<p>
  <strong>Goodreads:</strong>
  <%= @goodreads_list.goodreads_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @goodreads_list.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goodreads_list.description %>
</p>

<%= link_to 'Edit', edit_goodreads_list_path(@goodreads_list) %> |
<%= link_to 'Back', goodreads_lists_path %>


<% if @genre_counts %>
  <% @genre_counts.keys.sort_by { |key| @genre_counts[key]  }.reverse.map do |key| %>
    <div class="row">
      <div class="col">
        <%=  key  %>
      </div>
      <div class="col">
        <%=  @genre_counts[key] %>
      </div>
    </div>
  <% end %>
<% end %>
